<div class="backdrop"></div>
<header class="main-header">

<nav>
    <a href="/"><img src="https://b.zmtcdn.com/images/zomato_white_logo_new.svg" alt="zomato"></a>
    <ul>
        <li class ="high"><a href="/restaurants">View</a></li>
        <li class ="high"><a href="/add-restaurant">Add</a></li>
        <div class="dropdown">
            <li class ="high"><a>Cart</a></li>
            <div class="cartDown">
                <div class="square"></div>
                <div class="resDetail">
                    <img src="./hero.jpg" alt="">
                    <div class="info">
                        <h3>FingerLickerz</h3>
                        <h5>Dwarka 2</h5>
                        <a href="">View Full Menu</a>
                    </div>
                </div>
                <div class="cartDetail">
                    <div class="items">
                        <div class="item">
                            <p class="name">Masala Vada Pav</p>
                            <p class="rate">₹70</p>
                        </div>
                        <div class="item">
                                <p class="name">Masala Vada Pav</p>
                                <p class="rate">₹70</p>
                            </div>
                            <div class="item">
                                    <p class="name">Masala Vada Pav</p>
                                    <p class="rate">₹70</p>
                                </div>
                    </div>
                    <div class="total">
                        <h2 class="subtotal">Subtotal</h2>
                        <h2 class="net">₹78</h2>
                    </div>
                </div>
                <button>Checkout</button>
            </div>
        </div>
        
    </ul>
</nav>
