<div class="backdrop"></div>
<header class="main-header">

<nav>
    <a href="/"><img src="https://b.zmtcdn.com/images/zomato_white_logo_new.svg" alt="zomato"></a>
    <ul>
        <li class ="high"><a href="/restaurants">View</a></li>
        <li class ="high"><a href="/add-restaurant">Add</a></li>
        
    </ul>
</nav>
