<%- include('./includes/head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/main.css">
<body>
    <%- include('./includes/navigation.ejs') %>
    
    <div class="cover">
        <div class="content">
            <h2>Welcome To Zomato</h2>
            <form>
                <input type="text" placeholder="Enter ur Location"><i class="fas fa-map-marker-alt"></i>
            </form>
        </div>
    </div>
    <%- include('./includes/end.ejs') %>
