<%- include('./includes/head.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
    <link rel="stylesheet" href="css/secure.css">
    <link rel="stylesheet" href="css/main.css">
<body>
    <%- include('./includes/navigation.ejs') %>

    <div class="res_list">
        <h1>Restaurants Near</h1>
        <div class="card_collection">
            <div class="row">
                <div class="card">
                    <div class="image" style="background-image: url('img/fin.webp')"></div>
                    <div class="content">
                        <a id="res_name" href="/">FingerLickerz</a>
                        <ul>
                        <li> <p>North Indian, Chinese, Fast Food</p></li> 
                        <li><p>Costs ₹150 for two</p></li>
                        <li><p>Up to 25min </p></li>
                        <li> <p>Accepts cash & online payments</p></li>
                        </ul>
                    </div>
                    <p id="rating"> <i class="fa fa-star"></i> 4.2</p>
                    <a id ="order_button" href="/">Order Now</a>
                </div>
                <div class="card">
                    <div class="image" style="background-image: url('img/king.webp')"></div>
                    <div class="content">
                        <a id="res_name" href="/">Burger King</a>
                        <ul>
                        <li> <p>Fast Food</p></li> 
                        <li><p>Costs ₹350 for two</p></li>
                        <li><p>Up to 29min </p></li>
                        <li> <p>Accepts cash & online payments</p></li>
                        </ul>
                    </div>
                    <p id="rating"> <i class="fa fa-star"></i> 4.6</p>
                    <a id ="order_button" href="/">Order Now</a>
                </div>
                <div class="card">
                    <div class="image" style="background-image: url('img/awiggy.webp')"></div>
                    <div class="content">
                        <a id="res_name" href="/">Subway</a>
                        <ul>
                        <li> <p>North Indian, Chinese, Fast Food</p></li> 
                        <li><p>Costs ₹300 for one</p></li>
                        <li><p>Up to 25min </p></li>
                        <li> <p>Accepts cash & online payments</p></li>
                        </ul>
                    </div>
                    <p id="rating"> <i class="fa fa-star"></i> 4.5</p>
                    <a id ="order_button" href="/">Order Now</a>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="image" style="background-image: url('img/amrit.jpg')"></div>
                    <div class="content">
                        <a id="res_name" href="/">Amritsari Dhaba</a>
                        <ul>
                        <li> <p>North Indian, Chinese, Fast Food</p></li> 
                        <li><p>Costs ₹250 for two</p></li>
                        <li><p>Up to 40min </p></li>
                        <li> <p>Accepts cash & online payments</p></li>
                        </ul>
                    </div>
                    <p id="rating"> <i class="fa fa-star"></i> 3.8</p>
                    <a id ="order_button" href="/">Order Now</a>
                </div>
                <div class="card">
                    <div class="image" style="background-image: url('img/bowl.webp')"></div>
                    <div class="content">
                        <a id="res_name" href="/">Bowl Company</a>
                        <ul>
                        <li> <p>North Indian, Chinese, Fast Food</p></li> 
                        <li><p>Costs ₹300 for two</p></li>
                        <li><p>Up to 33min </p></li>
                        <li> <p>Accepts cash & online payments</p></li>
                        </ul>
                    </div>
                    <p id="rating"> <i class="fa fa-star"></i> 4.3</p>
                    <a id ="order_button" href="/">Order Now</a>
                </div>
                <div class="card">
                    <div class="image" style="background-image: url('img/lajawab.webp')"></div>
                    <div class="content">
                        <a id="res_name" href="/">Lajawab</a>
                        <ul>
                        <li> <p>North Indian, Chinese, Fast Food</p></li> 
                        <li><p>Costs ₹300 for two</p></li>
                        <li><p>Up to 30min </p></li>
                        <li> <p>Accepts cash & online payments</p></li>
                        </ul>
                    </div>
                    <p id="rating"> <i class="fa fa-star"></i> 4.1</p>
                    <a id ="order_button" href="/">Order Now</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./includes/end.ejs') %>
