@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: sans-serif;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #cb202d;
    padding: 10px;
    box-sizing: border-box;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}
nav a img{
    margin-top: 10px;
}
nav ul a{
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    /* margin-left: 5px; */
    width:140px; 
    text-align: center;
    background: #ba1e2b;
    height: 40px;
    display: inline-block;
    border-radius: 4px;
    line-height: 2.5
}

nav ul li a:hover{
    background: rgb(168, 31, 31);
}
.dropdown{
    min-height: 70px;
    z-index: 100;
    width: 145px;
}
.cartDown .resDetail{
    border: 1px solid #e7e7e7;
    border-right: none;
    border-left: none;
    display: flex;
    padding: 10px;
}
.cartDown  .resDetail img{
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
}
.cartDown  .resDetail .info{
    margin-top: 20px;
}

.cartDown  .resDetail .info a{
    height: 25px;
    line-height: 1.8;
    font-size: 14px;
    margin-top: 5px
}
.cartDown  .resDetail h3,h5{
    margin: 2px;
}
.cartDown .cartDetail .items {
    border: 1px solid #e7e7e7;
    border-right: none;
    border-left: none;

}
.cartDown .cartDetail .items .item{
    display: flex;
    justify-content: space-between
}
.cartDown .cartDetail .items .item .name{
    width: 200px;
}


.cartDown .cartDetail .total{
    display: flex;
    justify-content: space-between;
    font-size: 14px
}


.cartDown button{
    width: 100%;
    background: #099E44;
    height: 40px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}
.dropdown .square{
    height: 10px;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -11px;
    border: 5px solid #cb202d;
    border-bottom: 0;
    border-right: 0;
    left: 20%;
    transform: rotateZ(45deg);

}
.dropdown:hover > .cartDown{
    visibility: visible;
    opacity: 1;
}
.dropdown .cartDown:hover{
    visibility: visible;
    opacity: 1;
}

.cartDown{
    font-family: 'Montserrat', sans-serif;
    border-top: 5px solid #cb202d;
    margin-top: 10px;
    z-index: 100;
    background: #f7f7f7;
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 20px 0 #000;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.2s linear;
}

.flash p{
    display: inline-block;
    height: 25px;
    padding: 10px 50px 5px 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: 80px;
}
.flash .success{
    background: #63c251bd;
    color: #fff;
    border: 2px solid #0c5f283d;
}
.flash .error{
    background: #d63434;
    color: #fff;
    border: 2px solid #8100003d;
}