body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    height: 200vh;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    margin-top: 80px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero{
    background-color: #171a29;
    color:white;
    display: flex;
    /* justify-content: end; */
    height: 300px;
    /* margin-left: 50px */
    /* width: 100vw; */
}

/* .hero_container{
    position: relative;
    margin: 0 auto;
} */

.hero .img{
    /* background-image: url("https://b.zmtcdn.com/data/pictures/6/18680756/3eb4b66be01db702b3dc43466cdc4ee1_o2_featured_v2.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A"); */
    width: 300px;
    height: 200px;
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .title_name{
    margin-top: 50px;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 2px;
    font-weight: 100;
    margin: 10px;
}
.light{
    color:#888;
}
.table{
    display: flex;
}
.table .col{
    margin: 10px;
    text-align: center
}
.table .col:nth-child(2){
    border: 1px solid #fff;
    border-top: 0;
    border-bottom: 0;
    padding: 0 10px 0 10px
}


.wrapper{
    display: flex;
    margin-top: 90px;
    background: rgba(256, 265, 256, 0.3);

    /* height: 100vh */
}


.category{
    /* height: 320px; */
    background: #eee;
    width: 19vw;
    position: sticky;
    top: 0;
    height: 100vh;
    /* margin-right: 1vw; */
}
.category .text{
    letter-spacing: 2px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;
    height: 320px;
    width: 100%;
    position: sticky;
    top: 30vh;
}
 .item_category{
    /* width: 50vw; */
    padding-left:10px; 
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}
 .category  .text a{
    font-size: 16px;
    display: block;
    margin: 15px;
    /* margin-top: 50px;  */
    color: #666;
}

.menu_items{
    margin-right: 1vw;
}

 .veg_icon{
    width: 15px;
    height: 15px;
    /* margin-top: 25px; */
    line-height: 0.8;
    text-align: center;
    /* background: #099E44; */
    border: 1px solid #099E44;
    display: inline-block;
}
 .veg_icon::before{
    border-radius: 50%;
    width: 8px;
    
    content: '';
    height: 8px;
    background: #099E44;
    display: inline-block;
    /* border-radius: 50%; */
}
 .nveg_icon{
    width: 15px;
    height: 15px;
    /* margin-top: 25px; */
    line-height: 0.8;
    text-align: center;
    /* background: #099E44; */
    border: 1px solid #ba1e2b;
    display: inline-block;
}
 .nveg_icon::before{
    border-radius: 50%;
    width: 8px;
    
    content: '';
    height: 8px;
    background: #ba1e2b;
    display: inline-block;
    /* border-radius: 50%; */
}
.menu_items h3{
    display: inline-block;

}
/*  .menu_items .item_category */
 .menu_items .item{
    width: 45vw;
    border: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    background: #eee;
    display: flex;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    /* margin: 0; */
}
 .menu_items h3,h4{
    letter-spacing: 0px;
    color: #333;
}
 .menu_items .item a[class= "button"]{
    border: 1px solid #099E44;
    color: #099E44;
    display: inline-block;
    width: 70px;
    padding: 7px;
    margin-top: 15px; 
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
 .menu_items .item a:hover{
    background: #ddd;
}

 .cart .content {
    position: relative;
    height: 100%;
}
 .cart .quote{
    position: absolute;
    color: #888;
    margin: 20px;
    bottom: 12vh;
}
.cart .title{
    color: #888;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    position: absolute;
    left: 40px;
    top: 40px;
} 

.cart{
    height: 100vh;
    width: 21vw;
    background: url('/img/cart_empty.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    background-color: #eee;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
}
.cart .checkout {
    position: relative;
    height: 100%;
}
 .cart .checkout h2{
    color: #555;
    font-size: 36px;
    font-weight: 700;
    line-height: 2
}
.cart .checkout .items {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.cart .checkout .items .item{
    color: #666;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-around; */
    border: 1px solid #e7e7e7;
} 
.cart .checkout .items .item #name{
    width: 125px;
}
.cart .checkout .items .item #rate{
    margin-top: 23px;
}
.counter{
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #099E44;
    width: 79px;
    height: 25px;
    display: flex;
    box-sizing: border-box;
}
.counter *,
.menu_items .item_category .item .but .counter *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.counter .count,
.menu_items .item_category .item .but .counter .count{
    display: inline-block;
    width: 33%;
    height: 25px;
    text-align: center;
    line-height: 1.5;
    background: #099E44;
    color: #fff;
    box-sizing: border-box;
    margin-top: -1px
}
.counter a,
.menu_items .item_category .item .but .counter a{
    display: inline-block;
    width: 33%;
    text-align: center;
    border-radius: none;
    cursor: pointer;
}
.counter a i,
.menu_items .item_category .item .but .counter a i{
    font-size: 13px;
    color: #099E44;
    line-height: 1.8;
}


.cart .checkout .total{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    border: 1px solid #d7d7d7;
}


.cart .checkout .total div {
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */
    box-sizing: border-box;

}
.cart .checkout .total p{
    /* height: 10px; */
    font-size: 20px;
    color: #222;
    padding: 0 20px;
    font-weight: 700;

    /* padding: 5px; */
}
.cart .checkout .total button{
    background: #099E44;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
